.git
.gitignore
.env
.env.local
.env.*.local
node_modules
target
dist
build
logs
*.log
.DS_Store
.vscode
.idea
*.iml
Dockerfile
docker-compose.yml
README.md
.git/
.github/
.gitattributes
.gitmodules

